@using Amesc.Dominio.Cursos
@using Amesc.Dominio.Cursos.Turma
@using Amesc.WebApp.ViewModels
@model Amesc.Dominio.Cursos.Turma.CursoAbertoParaCadastroViewModel
@{
    ViewData["Title"] = "Cursos";
}

<div id="pad-wrapper">

    <div class="row">
        <div class="col-md-12">
            <a href="/AbrirCurso/@ViewBag.Curso.Id" class="btn">Voltar</a>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-12">
            <h3>Curso @ViewBag.Curso.Nome</h3>
        </div>
    </div>
    <div class="row form-wrapper">
        <div class="col-md-12">
            <form id="form" class="form-horizontal" asp-action="Salvar" asp-controller="AbrirCurso" asp-anti-forgery
                  data-ajax="true" data-ajax-method="POST" data-ajax-failure="formQuandoFalha" data-ajax-success="window.location = '/AbrirCurso/@ViewBag.Curso.Id'">
                <input type="hidden" class="form-control" asp-for="Id">
                <input type="hidden" class="form-control" asp-for="IdCurso" value="@ViewBag.Curso.Id">
                <div class="form-group">
                    <label class="col-md-2 control-label">Código</label>
                    <div class="col-md-2">
                        <input class="form-control" asp-for="Codigo">
                    </div>
                </div>
                <div class="form-group" id="inicioDasMatriculasDiv">
                    <label class="col-md-2 control-label">Inicio das matriculas</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="PeriodoInicialParaMatricula" asp-format="{0:dd/MM/yyyy}" maxlength="10" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="PeriodoInicialParaMatricula" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group" id="fimDasMatriculasDiv">
                    <label class="col-md-2 control-label">Fim das matriculas</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="PeriodoFinalParaMatricula" asp-format="{0:dd/MM/yyyy}" maxlength="10" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="PeriodoFinalParaMatricula" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Inicio do curso</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="InicioDoCurso" asp-format="{0:dd/MM/yyyy}" maxlength="10" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="InicioDoCurso" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Fim do curso</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="FimDoCurso" asp-format="{0:dd/MM/yyyy}" maxlength="10" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="FimDoCurso" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Preço</label>
                    <div class="col-md-2">
                        <input class="form-control" asp-for="Preco" id="preco">
                        <span asp-validation-for="Preco" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tipo</label>
                    <div class="col-md-2">
                        <select class="form-control" asp-for="TipoDeCursoAberto" id="tipoDeCursoAberto">
                            <option value="Publico">Publico</option>
                            <option value="Fechado">Fechado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="empresaDiv">
                    <label class="col-md-2 control-label">Empresa</label>
                    <div class="col-md-2">
                        <input class="form-control" asp-for="Empresa">
                    </div>
                </div>
                <div id="instrutores">
                    @for (var index = 0; index < Model.Instrutores.Count; index++)
                    {
                        var formStyle = Model.Instrutores[index].Id > 0 ? "form-group" : "form-group hidden";
                        var formId = index.ToString() + "formInstrutor";
                        <div id="@formId" class="@formStyle">
                            <label class="col-md-2 control-label">Instrutor e cargo</label>
                            <div class="col-md-2">
                                <select id="@(formId + "selectInstrutor")" class="form-control" name="Instrutores[@index].Id">
                                    <option value="-1"></option>
                                    @foreach (InstrutorParaListaViewModel instrutor in ViewBag.Instrutores)
                                    {
                                        var selected = Model.Instrutores[index].Id == instrutor.Id;
                                        if (selected)
                                        {
                                            <option value="@instrutor.Id" selected="selected">@instrutor.Nome</option>
                                        }
                                        else
                                        {
                                            <option value="@instrutor.Id" >@instrutor.Nome</option>
                                        }

                                    }
                                </select>
                                <select id="@(formId + "selectCargo")" class="form-control" name="Instrutores[@index].Cargo">
                                    <option value="-1"></option>
                                    @if (Model.Instrutores[index].Cargo == "Diretor")
                                    {
                                        <option value="Diretor" selected="selected">Diretor</option>
                                    }
                                    else
                                    {
                                        <option value="Diretor">Diretor</option>
                                    }
                                    @if (Model.Instrutores[index].Cargo == "Coordenador")
                                    {
                                        <option value="Coordenador" selected="selected">Coordenador</option>
                                    }
                                    else
                                    {
                                        <option value="Coordenador">Coordenador</option>
                                    }
                                    @if (Model.Instrutores[index].Cargo == "Instrutor")
                                    {
                                        <option value="Instrutor" selected="selected">Instrutor</option>
                                    }
                                    else
                                    {
                                        <option value="Instrutor">Instrutor</option>
                                    }
                                    @if (Model.Instrutores[index].Cargo == "Enfermagem")
                                    {
                                        <option value="Enfermagem" selected="selected">Enfermagem</option>
                                    }
                                    else
                                    {
                                        <option value="Enfermagem">Enfermagem</option>
                                    }
                                </select>
                            </div>
                            <a onclick="removerInstrutor('@formId', '@(formId + "selectInstrutor")', '@(formId + "selectCargo")');">Remover instrutor</a>
                        </div>
                    }
                </div>
                <a id="inserirInstrutor">Inserir instrutor</a>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.priceformat.min.js"></script>
    <script src="/js/jquery.maskedinput.min.js"></script>
    <script src="/js/excecaoDeDominio.js"></script>
    <script>
        $(function() {
            
            $('#PeriodoInicialParaMatricula').mask('99/99/9999');
            $('#PeriodoFinalParaMatricula').mask('99/99/9999');
            $('#InicioDoCurso').mask('99/99/9999');
            $('#FimDoCurso').mask('99/99/9999');
            
            $('#preco').priceFormat({
                prefix: '',
                centsSeparator: ',',
                thousandsSeparator: '.'
            });

            prepararCamposDePeriodoDaMatriculaPeloTipoDeCursio($("#tipoDeCursoAberto option:selected").val());
            $('#tipoDeCursoAberto').change(function() {

                prepararCamposDePeriodoDaMatriculaPeloTipoDeCursio($("#tipoDeCursoAberto option:selected").val());
            });

            function prepararCamposDePeriodoDaMatriculaPeloTipoDeCursio(tipo)
            {
                if ($("#tipoDeCursoAberto option:selected").val() == "Fechado") {

                    $('#inicioDasMatriculasDiv').css('display', 'none');
                    $('#PeriodoInicialParaMatricula').val('');
                    $('#fimDasMatriculasDiv').css('display', 'none');
                    $('#PeriodoFinalParaMatricula').val('');
                    $('#empresaDiv').css('display', '');
                }
                else {

                    $('#inicioDasMatriculasDiv').css('display', '');
                    $('#fimDasMatriculasDiv').css('display', '');
                    $('#empresaDiv').css('display', 'none');
                    $('#Empresa').val('');
                }
            }
        });

        $('#inserirInstrutor').click(function () {
            $('.form-group.hidden').first().removeClass('hidden');
        });

        function removerInstrutor(form, selectInstrutor, selectCargo) {
            $('#' + form).addClass('hidden');
            $('#' + selectInstrutor).val('-1');
            $('#' + selectCargo).val('-1');
        }
    </script>
}

    




