@using Amesc.WebApp.Util
@using Amesc.WebApp.ViewModels
@model PaginatedList<MatriculaParaListaViewModel>
@{
    ViewData["Title"] = "Matriculas";
}

<div id="pad-wrapper">

    <div class="row header">
        <div class="col-md-1">
            <h3>Matriculas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <a href="/Matriculas/Novo" class="btn btn-primary">Novo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="aluno" placeholder="Aluno" class="form-control col-xs-12" />
                        <input type="text" name="curso" placeholder="Curso" class="form-control col-xs-12"/>
                        Não Pago? <input type="checkbox" name="naopago" value="sim"  />
                        Validade expirada? <input type="checkbox" name="expirado" value="sim" />
                        <input type="submit" value="Buscar" class="btn btn-default" /> |
                        <a asp-action="Index">Remover filtro</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>CPF</th>
                        <th>Curso</th>
                        <th>Data do curso</th>
                        <th>Pago?</th>
                        <th>Cancelada</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Aluno
                        </td>
                        <td>
                            @item.Cpf
                        </td>
                        <td>
                            @item.Curso
                        </td>
                        <td>
                            @item.DataDoCurso.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.EstaPago
                        </td>
                        <td>
                            @item.Cancelada
                        </td>
                        <td>
                            <a href="/Matriculas/Gerenciar/@item.Id" class="btn">Gerenciar</a>
                        </td>
                    </tr>   
                }
                </tbody>
            </table>
            
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Anterior
            </a>
            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Próximo
            </a>
        </div>
    </div>
</div>



